body{
    background-color:#D6E5FA;
}
hr{
    border-style: dotted none none;
    width: 5%;
    border-color: #7C99AC;
    border-width: 5px;
}
h1{
    color: #22577E;
}
h3{
    color: #5584AC;
}